/* Login Page Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgb(146, 141, 141);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    /* text-align: center; */
}

.header{
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}



form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}



button {
    width: 100%;
    padding: 14px;
    background-color: #4CAF50;
    color: rgb(21, 3, 3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
    margin-top: 1em;

}

button:hover {
    background-color: #a04549;
}

p {
    margin-top: 20px;
}

a {
    color: #af4c54;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.user-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
  
}

.pass-container{
    display: flex;
    flex-direction: column;
    gap: 6px;

}

.user-label, .pass-label {
text-align: center;
color: #222;
font-weight: bold;
font-size: 1.4rem;
}

.user-input, .pass-input{
    padding: 14px 20px;
    border-radius: 6px;
    border: none;
    
}

.register-text{
    text-align: center;
}

